ion-header {
  ion-list {
    background: var(--ion-color-primary) !important;
    border-radius: 0 0 15px 15px;
    padding-bottom: 6vh;

    ion-item {
      ion-label {
        font-weight: bold;
        font-size: 1.2rem !important;
        letter-spacing: 0.5px;
      }
    }
  }

  .popover {
    margin: 0 8px;
    text-align: center;

    ion-button {
      --border-radius: 20px;
      margin-top: -30px;
      --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }

  .generate-btn {
    margin-top: 20px;
    width: 120px;
    height: 3.125rem;
    font-size: 1.2rem;
    --background: #ff002b;
  }
}
