.header {
  ion-list {
    background: var(--ion-color-primary);
    border-radius: 0 0 15px 15px;
    padding-bottom: 6vh;

    ion-item {
      .page-title {
        font-weight: bold;
        font-size: 1.2rem;
        letter-spacing: 0.5px;
      }
    }
  }

  .popover {
    margin: 0 8px;
    text-align: center;

    ion-button {
      --border-radius: 20px;
      margin-top: -30px;
      --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    ion-searchbar {
      text-align: start;
      --border-radius: 20px;
      margin-top: -30px;
      --background: white;
      --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }
}


